* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 450px;
  max-width: 80%;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container__game {
  max-width: 80vmin;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
}

.main-image {
  display: block;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.description {
  background-color: #283e50;
}

.description__title {
  font-family: "Lobster", sans-serif;
  font-size: 45px;
  font-weight: 400;
  margin: 30px auto;
}

.description__title--game {
  color: #fff;
}

.description__text {
  padding: 0 20px 20px;
  line-height: 1.5;
}

.btn {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

.btn--rules {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.btn--rules:hover {
  background-color: #1cbb96;
}

.btn--start-game {
  background-color: #0197f6;
}

.btn--start-game:hover {
  background-color: #0090e9;
}

/* #region icons */
.icons {
  display: flex;
  justify-content: space-between;
}

.icons__block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons__playing {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.icon {
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.icon img {
  display: block;
}

.icon--home {
  background-color: #1fcca4;
}

.icon--home:hover {
  background-color: #1cbb96;
}

.icon--restart {
  background-color: #0197f6;
}

.icon--restart:hover {
  background-color: #0090e9;
}


/* #endregion */
