* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

/* #region both containers */
.container {
  width: 450px;
  max-width: 80%;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container__game {
  width: 80vmin;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* #endregion */

.main-image {
  display: block;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

/* #region description + title */
.description {
  background-color: #283e50;
}

.title {
  font-family: "Lobster", sans-serif;
  font-size: 45px;
  font-weight: 400;
  margin: 30px auto;
}

.title--game {
  display: block;
  width: fit-content;
  margin: 16px auto;
}

.description__text {
  padding: 0 20px 20px;
  line-height: 1.5;
}
/* #endregion */

/* #region start page btn */
.btn {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

.btn--rules {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.btn--rules:hover {
  background-color: #1cbb96;
}

.btn--start-game {
  background-color: #0197f6;
}

.btn--start-game:hover {
  background-color: #0090e9;
}
/* #endregion */

/* #region icons */
.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.icons__block {
  width: 50%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.icons__block:last-child {
  justify-content: flex-end;
}

.icons__playing {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.icon {
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.icon img {
  display: block;
}

.icon--home {
  background-color: #1fcca4;
}

.icon--home:hover {
  background-color: #1cbb96;
}

.icon--restart {
  background-color: #0197f6;
}

.icon--restart:hover {
  background-color: #0090e9;
}
/* #endregion */

/* #region cells */
.cells {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
  box-shadow: 2px -2px 8px #7a77adcf; /*vypadalo to, že kolem bloku buněk na obrázku je malý shadow, nejsem si jistá, že je to součástí požadavku, ale vypadá to hezky, tak jsem se rozhodla přidat ten shadow:)*/
}

.cell {
  width: 10%;
  aspect-ratio: 1/1;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.cell:focus,
.cell:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* #endregion */
