* {
  box-sizing: border-box;
}

.body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 570px;
  margin: 40px auto 0;
  border-radius: 8px 8px 0 0;
}

.main-image {
  width: 100%;
}

.description {
  text-align: center;
  background-color: #283e50;
}

.description__title {
  font-family: "Lobster", sans-serif;
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
  margin: 30px auto;
}

.description__text {
  padding: 0 20px 30px;
  line-height: 1.5;
}

.btn {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

.btn__rules {
  background-color: #1fcca4;
}

.btn__rules:hover {
  background-color: #1cbb96;
  border-bottom: 1px solid #283e50;
}

.btn__start-game {
  background-color: #0197f6;
}

.btn__start-game:hover {
  background-color: #0090e9;
  border-bottom: 1px solid #283e50;
}
